*/padroniza as próximas alterações*/
*{
    margin: 3rem;
    border: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    scroll-behavior: smooth;
}

header{
    display: flex; 
    background-image: url("https://lncimg.lance.com.br/cdn-cgi/image/width=950,quality=75,fit=pad,format=webp/uploads/2025/07/n1goxkjkhabvqr3yqplx-aspect-ratio-512-320.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 2rem;
    color: black;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}
body{
    background-color: #faf2d7;
}

header h1{
    border-bottom: 0.5em;
    color: white;
   
}

nav{
    display: flex;
    gap: 15em;
    align-items: center;
    border-top: 0.2em;
    padding-bottom: 2em;
    color: white;
  
}

a{
    color: white;
    text-decoration: underline;
}

main a{
    text-decoration: none; 
   
}

main
{
margin-top: 4em;
}

main h1{
    color:#444d74;
    text-align: center;
}

h1{
    color:#444d74;
}

h2{
    color: #444d74;
    padding-left: 1rem;
}
ul{
    font-size: 1.2rem;
    color: #0b1230;
}

@font-face {
    font-family: Playfair;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
}
p{
    font-family: Playfair;
    font-size: 1.2rem;
    padding-left: 1rem;
}

img{
    margin-top: 3rem;
    border-radius: 20px;
}

img, p{
    display: inline-block;
    align-items: center;
}

a{
    padding-top: 0.1rem;
    padding-bottom: 3%;
    color: #444d74;
}

.ul2{
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-direction: column;
}

ul img{
    border-radius: 0.3rem;
}

footer{
    display: flex;
    background-color: #fde544;
    border-radius: 0.5em;
    color: #0b1230;
    height: 8em;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
}

